<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/posts.css">
  <!-- <script src="./js/test.js"></script> -->
</head>

<body>
  <form action="/posts" method="POST">
    <div>
      <label>제목</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>내용</label>
      <input type="text" name="content">
    </div>
    <button type="submit">제출</button>
  </form>
  <h1>글 목록</h1>
  <h2>총 블로그 글 수 <%= postsCounts %></h2>
  <ul>
    <% if(postsCounts> 0) { %>
    <% for(let i=0; i < postsCounts; i++) { %>
    <li>
      <p>title: <%= POST[i].title %></p>
      <p>content: <%= POST[i].content %></p>
      <a href="" onclick="deletePost('<%= POST[i].title %>');">삭제</a>
    </li>
    <% } %>
    <% } else { %>
    <li>
      블로그 정보가 없습니다.
    </li>
    <% } %>
    <img src="./img/<%=imgName%>" alt="축제">
  </ul>

</body>

<script>
  function deletePost(title) {
    fetch(`http://localhost:4000/posts/${title}`, {
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      },
    }).then((res) => {
      console.log(res);
      location.reload();
    })
  }
</script>

</html>